<html>
<meta charset="utf-8">

<head>
    <link href="/stylesheets/jquery-ui.css" rel="stylesheet">
    <link href="/stylesheets/admin.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/javascripts/domModify.js"></script>
    <script src="/external/jquery/jquery.js"></script>
    <script src="/javascripts/jquery-ui.js"></script>
    <script>
        setTimeout(function () {
            $("#editContainer").hide();
        }, 10);
        function deleteuser(event) {
            var email = event.currentTarget.closest(".userRecord").querySelector(".email").innerText;
            console.log(email);
            const Url = "http://localhost:3000/admin/deleteUser?user=" + email;
            $.ajax(
                {
                    type: "POST",
                    url: Url,
                    data: {user: email},
                    success: function (res) {
                        $('#searchResult').html("Deleted User");
                    }
                });
        }

        function edituser(event) {
            $("#editContainer").show();
            var email = event.currentTarget.closest(".userRecord").querySelector(".email").innerText;
            var userName = event.currentTarget.closest(".userRecord").querySelector(".userName").innerText;
            var phone = event.currentTarget.closest(".userRecord").querySelector(".phone").innerText;
            document.getElementById("editname").value = userName;
            document.getElementById("editNumber").value = phone;
            document.getElementById("editemail").value = email;
        }

        function updateuser(event) {
            var username = document.getElementById("editname").value;
            var number = document.getElementById("editNumber").value;
            var email = document.getElementById("editemail").value;
            if (username == "" || number == "") {

            }
            else {
                var data = {
                    username: username,
                    number: number,
                    email: email
                };
                const Url = "http://localhost:3000/admin/updateUser";
                $.ajax(
                    {
                        type: "POST",
                        url: Url,
                        data: data,
                        success: function (res) {
                            $('#searchResult').html("Updated User");
                            document.getElementById("editContainer").style.display = "none";
                        }
                    });
            }
        }
    </script>
</head>


<body onload=headerModification()>
<div class="header"></div>
<div>
    <% include header %>

    <div class="forms">
        <div class="leftside" id="csvfileUpload">
            <form method="post" enctype="multipart/form-data" action="/admin/add">
                <h4 for="csvfile">Please Upload a file to populate the Database. (.xlxs)</h4>

                <input type="file" name="csvfile" id="csvfile"><br>
                <br/>
                <button type="submit" class="okButton">Submit</button>
                <label class="msg"><%= message %></label>
                <label class="err"><%= error %></label>
            </form>

            <form method="post" enctype="multipart/form-data" action="/admin/addUSData">
                <h4 for="csvfile">Please upload a file for dashboard</h4>

                <input type="file" name="USDatafile" id="USDatafile"><br>
                <br/>
                <button type="submit" class="okButton">Submit</button>
                <label class="msg"><%= message %></label>
                <label class="err"><%= error %></label>
            </form>
        </div>
        <div class="rightside">
            <form class="UserForm" method="get" action="/admin/searchuser">
                <h4>Please enter User's Email ID to search</h4>
                <div class="">
                    <label for="tags">Search: </label>
                    <input id="tags" class="searchuser" name="user"><br/>
                    <button id="searchUser" class="okButton" type="submit">Submit</button>
                    <br/>
                    <label class="err"><%= errorMsg %></label>
                </div>
            </form>
            <script>
                var userdata;
                userdata = <%- JSON.stringify(userdata) %>;
            </script>
            <% if(userdata) { %>
            <% for (var i = 0; i < userdata.length; i++) {
                var username = userdata[i].email;
            %>
                <div id="searchResult">
                    <div class="userRecord">
                        <span class="userName">
                            <%= userdata[i].userName %>
                        </span>
                        <span class="email" name="email">
                            <%= userdata[i].email %>
                        </span>
                        <span class="phone">
                            <%= userdata[i].phone %>
                        </span>
                        <span class="delB">
                            <button class="delete" id="Delete" onclick="deleteuser(event)">Delete</button>
                        </span>
                        <span class="editB">
                            <button class="edit" id="Edit" onclick="edituser(event)">Edit</button>
                        </span>
                    </div>
                </div>
            <% } %>
            <% } %>
            <div id="editContainer">
                <div class="inputFields">
                    <label class="feildName">Email: </label>
                    <input id="editemail" class="email" name="email" type="text" disabled/>
                    <label class="error" id="userNameError"></label>
                </div>
                <div class="inputFields">
                    <label class="feildName">Name: </label>
                    <input id="editname" class="name" name="userName" type="text"/>
                    <label class="error" id="userNameError"></label>
                </div>
                <div class="inputFields">
                    <label class="feildName">Phone:</label>
                    <input id="editNumber" class="phone" name="phone" type="text"/>
                    <label class="error" id="phoneError"></label>
                </div>
                <div class="inputFields">
                    <button class="update okButton" id="Update" onclick="updateuser(event)">Update</button>
                </div>

            </div>
        </div>


    </div>
</div>

</div>
<% include footer %>
</body>